{%for article in object_list%}
<article>
    <h2>
        {{article.title}}
    </h2>
   
    <p>
        {{article.content}}
    </p>

    <div>
        <div>
            {{article.auther}}
        </div>
        <div>
            {{article.link}}
        </div>
    <div>
{{article.publish}}
    </div>
</div>
</article>
<hr>
{%empty%}
{%endfor%}